*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background-color: #ef233c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body{
    width: 500px;
    background-color: white;
    padding: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

img{
    width: 400px;
    height: 350px;
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
}

.title{
font-size: 40px;
margin-top: 10px;
}

.artist{
    font-size: 20px;
}

.duration{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls{
    width: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px 0 0 0;
    height: 60px;
    position: relative;
    /* border: 1px solid black; */
}

.durationControl{
    width: 80%;
    margin-top: 10px;
    cursor: pointer;
}

.durationControl::-moz-range-track{
    background-color: gray;
}

.durationControl::-moz-range-progress{
    background-color: red;
    height: 5px;  
    border-radius: 10px;  
}

.durationControl::-moz-range-thumb{
    width: 0;
    height: 0;
    border-radius: 50%;
    transition: 0.3s;
}

.durationControl:hover::-moz-range-thumb{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: 0.3s;
}

.songcontrols{
    display: flex;
    justify-content: right;
    gap: 30px;
    flex: 3;
}

.volumeControl{
    /* position: absolute; */
    position: relative;
    width: 90px;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    
}

.volumeControl::-moz-range-track{
    background-color: gray;
    -moz-appearance: none;
    appearance: none;
}

.volumeControl::-moz-range-progress{
    background-color: blue;
    height: 6px;  
    border-radius: 10px;  
    -moz-appearance: none;
    appearance: none;
}

.volumeControl::-moz-range-thumb{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: 0.1s;
}

.volumeControl:hover::-moz-range-thumb{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: 0.1s;
}


.fas{
    font-size: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    line-height: 60px;
    cursor: pointer;
}

.fas:hover{
    background-color: #edeef0;
    transition: 0.3s;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.play{
    background-color: #ff001e;
    color: white;
}

.play:hover{
    transition: 0.3s;
    background-color: #ff2e47;
}
